<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>SUPPLY</title>
</head>
<body>
<div class="container">
    <h3 style="color: darkorange"><center>Supply Request at Hospitals</center></h3>
    <div class="list-group">
        <form method="POST" action="submit">
            {% for i in hospitals %}
            <div class="list-group-item{% if i.supplyrequest < 20 %} list-group-item-success{% elif i.supplyrequest < 40 %} list-group-item-warning{% elif i.supplyrequest < 60 %} list-group-item-info{% elif i.supplyrequest < 80 %} list-group-item-danger{% else %} list-group-item-danger{% endif %}" style="width: 100%;" name="button{{i.id}}">
                {{forloop.counter}}) {{i.name}}, {{i.address}}
            </div>
            {% endfor %}
        </form>
    </div>
</div>
</body>
</html>