<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>UPDATE</title>
</head>
<body>
<div class="container">
    <h3 style="color: darkorange"><center>List of Hospitals in working condition</center></h3>
    <div class="list-group">
        <form method="POST" action="submit">
            {% for i in hospitals %}
            <button class="list-group-item{% if not i.status %} list-group-item-info{% else %} list-group-item-danger{% endif %}" style="width: 100%;" name="button{{i.id}}">
                {{forloop.counter}}) {{i.name}}, {{i.address}}
                <span class="badge">{% if not i.status %}available{% else %}not available{% endif %}</span>
            </button>
            {% endfor %}
        </form>
    </div>
</div>
</body>
</html>